<ion-header>
  <center><img id="rsma" src ="https://www.rsmaguyane.fr/images/LOGO_BASELINE_RSMA.jpg"></center>
<center><ion-text><h1>Formulaire</h1></ion-text></center>
</ion-header>
  <form name="mon-formulaire1" action="page-envoi.html" method="get">

    
    <center>
      <ion-item>
      <ion-label>Sexe</ion-label>
      <ion-select placeholder="Selectionnez">
        <ion-select-option value="f">Femme</ion-select-option>
        <ion-select-option value="m">Homme</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
    <ion-label position="stacked">Nom</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Prénom</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Adresse</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" >Code Postal</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Date de naissance:</ion-label>
    <ion-input type="date" id="start" name="trip-start"
    value="2022-07-22"
    min="1980-01-01" max="2030-12-31"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Mail:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <p>
     <ion-button type="submit">Envoyer</ion-button>
     <ion-button type="reset">Annuler</ion-button>
  </p></center>
  </form>
 



