<ion-content><ion-header>

  <ion-button fill="clear" (click)=(openFirst())> <ion-icon name="menu-outline"></ion-icon></ion-button>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Accueil</ion-item>
        <ion-button fill="clear" href="/formations"><ion-item>Nos formations</ion-item></ion-button>
        <ion-item>Espace entreprises et partenaires</ion-item>
        <ion-item>S'engager au RSMA</ion-item>
        <ion-item>Nous contacter</ion-item>
      </ion-list>
      <ion-router-outlet id="main"></ion-router-outlet>
    </ion-content>
  </ion-menu>

  <center><img id="rsma" src="https://www.rsmaguyane.fr/images/LOGO_BASELINE_RSMA.jpg"></center>

</ion-header>

<center><ion-text><h1>Profil du volontaire</h1></ion-text></center>

<center><img src="/assets/Capture d’écran du 2022-04-08 11-06-36.png">

<ion-text>
  <h2>
    MAGLOIRE Axel
  </h2>
</ion-text>
<ion-text><p>Développeur web : Fin de formation le 3 août 2022</p></ion-text>
</center>

<ion-button>Voir CV</ion-button>
<ion-button>Voir <br>lettre de motivation</p></ion-button>
</ion-content>
