<ion-content>



  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-button fill="clear" href="/tabs/tab1">
          <ion-item>Accueil</ion-item>
        </ion-button>
        <ion-button fill="clear" href="/formations">
          <ion-item>Nos formations</ion-item>
        </ion-button>
        <ion-item>Espace entreprises et partenaires</ion-item>
        <ion-item>S'engager au RSMA</ion-item>
        <ion-item>Nous contacter</ion-item>
      </ion-list>
      <ion-router-outlet id="main"></ion-router-outlet>
    </ion-content>
  </ion-menu>


  <ion-button fill="clear" (click)=(openFirst())>
    <ion-icon name="menu-outline"></ion-icon>
  </ion-button>

  <center><img id="rsma" src="https://www.rsmaguyane.fr/images/LOGO_BASELINE_RSMA.jpg"></center>


  <center>
    <ion-text>
      <h1>Profil du volontaire</h1>
    </ion-text>
  </center>

  <center><img src="/assets/Capture d’écran du 2022-04-08 11-06-36.png">

    <ion-text>
      <h2>
        MAGLOIRE Axel
      </h2>
    </ion-text>
    <ion-text>Développeur web : Fin de formation le 3 août 2022</ion-text>
  </center>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/cv">Voir Cv</ion-button>
        <ion-button id="retour" href="http://localhost:4200/home"> Retour </ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>