<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <center><img id="rsma" src="https://i.ibb.co/vkdQ62L/LOGO-BASELINE-RSMA-removebg-preview.png%22%3E"></center>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <center>DEVENIR VOLONTAIRE</center>
      </ion-card-subtitle>
      <ion-card-title>
        <center>STAGIAIRE</center>
      </ion-card-title>
    </ion-card-header>

    <iframe width="100%" height="315" src="https://www.youtube.com/embed/Ary68R3WQO8" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>

    <ion-button expand="block" routerLink="/formations">JE M'ENGAGE</ion-button>
  </ion-card>

  <ion-card>


    <ion-button expand="block" routerLink="/vt">VOLONTAIRE TECHNICIEN</ion-button>

  </ion-card>
</ion-content>