<ion-content [fullscreen]="true">
     
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Accueil</ion-item>
        <ion-button fill="clear" routerLink="/profil"><ion-item>Mon profil</ion-item></ion-button>
        <ion-button fill="clear" routerLink="/formations"><ion-item>Nos formations</ion-item></ion-button>
        <ion-item>Espace entreprises et partenaires</ion-item>
        <ion-item>S'engager au RSMA</ion-item>
        <ion-button fill="clear" routerLink="/contact"><ion-item>Nous contacter</ion-item></ion-button>
        
      </ion-list>
      <ion-router-outlet id="main"></ion-router-outlet>
    </ion-content>
  </ion-menu>

<ion-grid>

<ion-row>
<ion-col>
  <ion-row>
 <ion-button fill="clear" (click)=(openFirst())> <ion-icon name="menu-outline"></ion-icon></ion-button>
 </ion-row> 
</ion-col>
  <ion-col>
    <div>
      <img id ="rsma" src="https://www.rsmaguyane.fr/images/LOGO_BASELINE_RSMA.jpg">
    </div>
  </ion-col>
  <ion-col>
    <div>
      
      <ion-button fill="clear" routerLink="/connexion"><ion-icon name="person-circle-outline"></ion-icon></ion-button>
    
    </div>
  </ion-col>
</ion-row>  
</ion-grid>


<center><ion-text><h1>Liste des volontaires Disponible</h1></ion-text></center> 


  <ion-card>
    <ion-card-header>
      <ion-card-title>JOSEPH Slater</ion-card-title>
      <ion-card-subtitle>Développeur web</ion-card-subtitle>
      <ion-card-subtitle>fin de formation le 3 aout</ion-card-subtitle>
      <ion-button routerLink="/cv">Cv</ion-button><ion-button routerLink="/ldm">Lettre de motivation</ion-button>
    </ion-card-header>

   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>MARIE-JOSEPH Joshye</ion-card-title>
      <ion-card-subtitle>Développeur web</ion-card-subtitle>
      <ion-card-subtitle>fin de formation le 3 aout</ion-card-subtitle>
      <ion-button  routerLink="/cv">Cv</ion-button><ion-button routerLink="/ldm">Lettre de motivation</ion-button>
    </ion-card-header>
   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>MAGLOIRE Axel</ion-card-title>
      <ion-card-subtitle>Développeur web</ion-card-subtitle>
      <ion-card-subtitle>fin de formation le 3 aout</ion-card-subtitle>
      <ion-button  routerLink="/cv">Cv</ion-button><ion-button routerLink="/ldm">Lettre de motivation</ion-button>
    </ion-card-header>
   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>REYNOSSO Steeve</ion-card-title>
      <ion-card-subtitle>Développeur web</ion-card-subtitle>
      <ion-card-subtitle>fin de formation le 3 aout</ion-card-subtitle>
      <ion-button  routerLink="/cv">Cv</ion-button><ion-button routerLink="/ldm">Lettre de motivation</ion-button>
    </ion-card-header>
   
  </ion-card>





  