<ion-content [fullscreen]="true">
     
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Accueil</ion-item>
        <ion-button fill="clear" routerLink="/profil"><ion-item>Mon profil</ion-item></ion-button>
        <ion-button fill="clear" routerLink="/formations"><ion-item>Nos formations</ion-item></ion-button>
        <ion-item>Espace entreprises et partenaires</ion-item>
        <ion-item>S'engager au RSMA</ion-item>
        <ion-button fill="clear" routerLink="/contact"><ion-item>Nous contacter</ion-item></ion-button>
        
      </ion-list>
      <ion-router-outlet id="main"></ion-router-outlet>
    </ion-content>
  </ion-menu>

<ion-grid>

<ion-row>
<ion-col>
  <ion-row>
 <ion-button fill="clear" (click)=(openFirst())> <ion-icon name="menu-outline"></ion-icon></ion-button>
 </ion-row> 
</ion-col>
  <ion-col>
    <div>
      <img id ="rsma" src="https://www.rsmaguyane.fr/images/LOGO_BASELINE_RSMA.jpg">
    </div>
  </ion-col>
  <ion-col>
    <div>
      
      <ion-button fill="clear" routerLink="/connexion"><ion-icon name="person-circle-outline"></ion-icon></ion-button>
    
    </div>
  </ion-col>
</ion-row>  
</ion-grid>

     <center><ion-searchbar placeholder="Filter Schedules"></ion-searchbar></center>
     
      <ion-button href="/d-web1" expand="block">Développeur web</ion-button>
      <ion-button href="/macon" expand="block">Maçon</ion-button>
      <ion-button href="/engins" expand="block">MÉCANICIEN PETITS ENGINS</ion-button>
      <ion-button href="/multitechnique" expand="block">MULTITECHNIQUE</ion-button>
      <ion-button href="/decouvert" expand="block">ORIENTATION DÉCOUVERTE</ion-button>
      <ion-button href="/charpent" expand="block">MENUISIER EN BATIMENT-MENUISIER CHARPENTE</ion-button>
      <ion-button href="/agencement" expand="block">MENUISIER EN BÂTIMENT - MENUISERIE AGENCEMENT</ion-button>
      <ion-button href="/paysage"expand="block">OUVRIER DU PAYSAGE</ion-button>
      <ion-button href="/enfant" expand="block">PETITE ENFANCE</ion-button>
      <ion-button href="/poursuite" expand="block">PLATEFORME POURSUITE DE FORMATION</ion-button>
      <ion-button href="/remis" expand="block">REMISE À NIVEAU ET EMPLOYABILITÉ</ion-button>
      <ion-button href="/divers" expand="block">VOIRIE RÉSEAU DIVERS</ion-button>
      <ion-button href="/automobile" expand="block">AGENT D'ENTRETIEN AUTOMOBILE</ion-button>
      <ion-button href="/espaces" expand="block">AGENT D'ENTRETIEN DES ESPACES VERTS</ion-button>
      <ion-button href="/six-mois" expand="block">AGENT D'ENTRETIEN DU BÂTIMENT - 6 MOIS</ion-button>
      <ion-button href="/dix-mois" expand="block">AGENT D'ENTRETIEN DU BÂTIMENT - 10 MOIS</ion-button>
      <ion-button href="/magasin" expand="block">AGENT MAGASINIER</ion-button>
      <ion-button href="/restauration" expand="block">AGENT POLYVALENT DE RESTAURATION</ion-button>
      <ion-button href="/securite" expand="block">AGENT DE PRÉVENTION ET DE SÉCURITÉ</ion-button>
      <ion-button href="/public" expand="block">CONDUCTEUR D'ENGINS DE TRAVAUX PUBLICS</ion-button>
      <ion-button href="/routier" expand="block">CONDUCTEUR TRANSPORT ROUTIER</ion-button>
      <ion-button href="/electricien" expand="block">ÉLECTRICIEN D'ÉQUIPEMENT</ion-button>
      <ion-button href="/froid" expand="block">INSTALLATEUR SANITAIRE PLOMBERIE - MÉTIERS DU FROID</ion-button>
      