
<ion-content [fullscreen]="true">
    <ion-button href="/tabs/tab1" fill="clear"><ion-icon  name="return-up-back-outline"></ion-icon></ion-button>
    <center><img  id ="rsma" src="/assets/LOGO_BASELINE_RSMA-removebg-preview.png"></center>







  
<ion-card fill="clear">
  <ion-card-header>
 
  <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/OOjs_UI_icon_userAvatar.svg/1024px-OOjs_UI_icon_userAvatar.svg.png"></center>
<center><ion-card-title>Se connecter</ion-card-title></center>
</ion-card-header> 
<ion-card-content>

 
<ion-item>
  <ion-label>Email :</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label>Mot de passe :</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>

<center><ion-button>Connexion</ion-button><br>
Inscription</center>
</ion-card-content>
</ion-card>
</ion-content>
