<ion-header [translucent]="true">
  <ion-toolbar>
    <center><img id ="rsma" src="https://www.rsmaguyane.fr/images/LOGO_BASELINE_RSMA.jpg"></center>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/OOjs_UI_icon_userAvatar.svg/1024px-OOjs_UI_icon_userAvatar.svg.png"></center>
<center><ion-title size="large">Se connecter</ion-title></center>
<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" >Mot de passe</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>

<ion-button>Connexion</ion-button>
<ion-button>Inscription</ion-button>
</ion-content>
