  img{max-width: 45%;}

    ion-content{ --background: url(https://97px.fr/img/42b16f16-794e-4a43-bb0a-46653c776b9e/full/le-regiment-du-service-militaire-adapte-de-la-guyane-rsma-a-saint-jean-du-maroni.webp) no-repeat center/cover fixed}

    ion-card{background: rgba(255,255,255,0.5);}

    ion-icon{color: bright;}