<ion-header [translucent]="true">
  <ion-toolbar>
    
     <center><img id ="rsma" src="https://www.rsmaguyane.fr/images/LOGO_BASELINE_RSMA.jpg"></center>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>

<img src="https://www.rsmaguyane.fr/images/silde_1/Sans_titre17.jpg">
<ion-button expand="block">LE RSMA GUYANE</ion-button>
<ion-button href="/formations" expand="block">NOS FORMATIONS</ion-button>
<ion-button expand="block">NOUS SITUER</ion-button>

<img src="https://www.rsmaguyane.fr/images/logos/rsma-guyane-europe.JPG">

</ion-content>
