
<ion-content [fullscreen]="true">

<ion-button fill="clear" (click)=(openFirst())> <ion-icon name="menu-outline"></ion-icon></ion-button>

    <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Accueil</ion-item>
          <ion-button fill="clear" href="/formations"><ion-item>Nos formations</ion-item></ion-button>
          <ion-item>Espace entreprises et partenaires</ion-item>
          <ion-item>S'engager au RSMA</ion-item>
          <ion-button fill="clear" href="/contact"><ion-item>Nous contacter</ion-item></ion-button>
        </ion-list>
        <ion-router-outlet id="main"></ion-router-outlet>
      </ion-content>
    </ion-menu>


    
    <center><img id ="rsma" src="https://www.rsmaguyane.fr/images/LOGO_BASELINE_RSMA.jpg"></center>





      <ion-title >Liste des volontaires</ion-title>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Développeur web</ion-card-subtitle>
      <ion-card-title>JOSEPH Slater</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      Fin de formation le 31 juillet

      <ion-button>En savoir plus</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Agent d'entretien du bâtiment</ion-card-subtitle>
      <ion-card-title>MARIE-JOSEPH Joshye</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      Fin de formation le 31 mai

      <ion-button>En savoir plus</ion-button>
    </ion-card-content>
  </ion-card>
<ion-button href="/tabs/tab1">accueil</ion-button>
</ion-content>
