<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>gestion fiche de formation</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <a href="addfiche">ajouter fiche</a>
      </div>
      <div class="ion-padding" slot="content">
        <a href="changefiche"> modifier fiche </a>
      </div>
      <div class="ion-padding" slot="content">
        <a href="deletefiche"> supprimer fiche </a>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>gestion utilisateur</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <a href="add-user">ajouter utilisateur</a>
      </div>
      <div class="ion-padding" slot="content">
        <a href="acces-us"> gérer l'accès</a>
      </div>
      <div class="ion-padding" slot="content">
        <a>supprimer utilisateur</a>
      </div>
    </ion-accordion>

  </ion-accordion-group>

</ion-content>