<ion-header [translucent]="true">
  <ion-toolbar>
    <center><img id ="rsma" src="https://www.rsmaguyane.fr/images/LOGO_BASELINE_RSMA.jpg"></center>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Nos formations</ion-title>
    </ion-toolbar>
  </ion-header>

  Le régiment a la volonté de répondre aux besoins des entreprises du territoire et fait évoluer ses formations. 
 
  <ion-button expand="block">Développeur web</ion-button>
  <ion-button expand="block">Maçon</ion-button>
  <ion-button href="/fiche-formation" expand="block">Agent entretien bâtiment</ion-button>