<ion-header [translucent]="true">
  <ion-toolbar>
    <center><img id ="rsma" src="https://www.rsmaguyane.fr/images/LOGO_BASELINE_RSMA.jpg"></center>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Nos formations</ion-title>
    </ion-toolbar>
  </ion-header>
  Le RSMA Guyane propose 23 filières de formation dans 8 secteurs d’activités : BTP, numérique, métiers de la Terre, mécanique, aide à la personne / services aux particuliers et aux collectivités, transport/logistique, restauration et remise à niveau.

  Le régiment a la volonté de répondre aux besoins des entreprises du territoire et fait évoluer ses formations. C’est pourquoi, en 2020, la formation « orientation découverte » a été ouverte et la filière de formation Horticulture a été transformée pour créer la formation « ouvrier du paysage ». En 2021, la formation « développeur web » a reçu ses premiers volontaires à Cayenne. En fin d’année 2022, une nouvelle formation verra le jour : « soudure métallerie ». Elle remplacera la formation professionnelle « mécanicien petits engins ».
 
  <ion-button expand="block">Développeur web</ion-button>
  <ion-button expand="block">Maçon</ion-button>
  <ion-button expand="block">Agent entretien bâtiment
  </ion-button>