<ion-content>

    <ion-button routerLink="/home" fill="clear"><ion-icon  name="return-up-back-outline"></ion-icon></ion-button>
    <center><img  id ="rsma" src="/assets/LOGO_BASELINE_RSMA-removebg-preview.png"></center>

  
<ion-card fill="clear">
  <ion-card-header>
 
  <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/OOjs_UI_icon_userAvatar.svg/1024px-OOjs_UI_icon_userAvatar.svg.png"></center>
<center><ion-card-title>Se connecter</ion-card-title></center>
</ion-card-header> 
<ion-card-content>

 
<ion-item>
  <ion-label>Email :</ion-label>
  <ion-input type="email" [(ngModel)]="email"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Mot de passe :</ion-label>
  <ion-input type="password" [(ngModel)]="password"></ion-input>
</ion-item>


</ion-card-content>
<center><ion-button fill="outline" (click)="Connexion()">Connexion</ion-button>
<p color="primary" (click)="goInscription()">Pas de compte ? Cliquer ici</p></center>
</ion-card>



</ion-content>
