<ion-content [fullscreen]="true">
     
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Accueil</ion-item>
        <ion-button fill="clear" routerLink="/profil"><ion-item>Mon profil</ion-item></ion-button>
        <ion-button fill="clear" routerLink="/formations"><ion-item>Nos formations</ion-item></ion-button>
        <ion-item>Espace entreprises et partenaires</ion-item>
        <ion-item>S'engager au RSMA</ion-item>
        <ion-button fill="clear" routerLink="/contact"><ion-item>Nous contacter</ion-item></ion-button>
        
      </ion-list>
      <ion-router-outlet id="main"></ion-router-outlet>
    </ion-content>
  </ion-menu>

<ion-grid>

<ion-row>
<ion-col>
  <ion-row>
 <ion-button fill="clear" (click)=(openFirst())> <ion-icon name="menu-outline"></ion-icon></ion-button>
 </ion-row> 
</ion-col>
  <ion-col>
    <div>
      <img id ="rsma" src="https://www.rsmaguyane.fr/images/LOGO_BASELINE_RSMA.jpg">
    </div>
  </ion-col>
  <ion-col>
    <div>
      
      <ion-button fill="clear" routerLink="/connexion"><ion-icon name="person-circle-outline"></ion-icon></ion-button>
    
    </div>
  </ion-col>
</ion-row>  
</ion-grid>


<img src="https://www.rsmaguyane.fr/images/silde_1/Sans_titre17.jpg">

<center>
<ion-button expand="block" routerLink="/formations" >NOS FORMATIONS</ion-button><br>
<ion-button expand="block" routerLink="/contact">NOUS CONTACTER</ion-button><br>
<ion-button expand="block">ENTREPRISES ET PARTENAIRES</ion-button>
</center>


  <img src="https://www.rsmaguyane.fr/images/logos/rsma-guyane-europe.JPG">


</ion-content>